
.sideNav {
    /* height: calc(100% - 200px); */
    height: 20em;
    overflow-y: auto;
    position: absolute;
    top: 40%;
    right: 85%;
    background-color: whitesmoke;
    min-width: 280px;
    z-index: 100;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 1;
    visibility: visible; 
}
.example-component.hide {
    opacity: 0;
    visibility: hidden; 
}
.sideNavButton {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 46px;
    z-index: 100;
}